@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
body{
    font-family: 'Lato', sans-serif;
    color:inherit;
}
.dark-search .ant-input,
.dark-search .ant-input-affix-wrapper {
  background-color: #111827 !important;
  color: white !important;
  border-color: #374151 !important;
}

.dark-search .ant-input::placeholder {
  color: #9ca3af !important;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #eaf8e7 !important;
  color: #023337 !important;
}
